version: "3"
services:
  tf:
    container_name: docker-tensorflow-template-tf
    build:
      # context: ./repo/
      dockerfile: ./infra/docker/tensorflow/Dockerfile
    deploy:
      resources:
        reservations:
          devices:
            # - capabilities: [gpu]
              - driver: nvidia
                device_ids: ['0', '1', '2']
                capabilities: [gpu]
    ports:
    - "8888:8888"
    - "8787:8787"
    - "8080:8080"
    volumes:
        # - /home/storage2/haru/predict_Details/repo:/home/ec2-user/repo/
        - /home/storage3/haru/predict_Details/repo:/home/ec2-user/repo/
        - ../.jupyter/:/root/.jupyter/
